{% extends "layouts/base.html" %}

{% block title %} Evaluasi {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        <!-- {% include 'includes/preloader.html' %} -->

        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <h2 class="mb-4">Evaluasi Pekerjaan Proyek</h3>
                <div class="row mt-4">
                    <div class="col-12 col-xl-6">
                        <div class="mb-4">
                            <label for="exampleInputEmail6">Request Id</label>
                            <input type="number" class="form-control" id="req-id" required>
                        </div>
                    </div><div class="col-12 col-xl-6">
                        <div class="mb-4">
                            <label for="exampleInputEmail6">No. RAB</label>
                            <input type="text" class="form-control" id="rab" required>
                        </div>
                    </div>
                </div>
                <button class="btn btn-tertiary" type="button">Cari
                    <span class="ms-1"><span class="fas fa-search"></span></span>
                </button>  
            </div>
        </div>
        <!-- End of Hero -->
        
        <!--End of Title section-->
            <div class="container">
                <div class="row justify-content-center mt-4">
                    <table class="table table-hover">
                        <tr class="bg-primary text-white">
                            <th>Request Id</th>
                            <th>No. RAB</th>
                            <th>Nama Project</th>
                            <th>Departemen</th>
                            <th>Status Evaluasi</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            <td>102735</td>
                            <td>QMS/10-21/EK/014</td>
                            <td>Pengecatan Mesin Kalung (3 Mesin) Rantai A</td>
                            <td>Kalung</td>
                            <td><span class="badge bg-primary">Selesai Dibuat</span></td>
                            <td><a href="#" class="fas fa-paper-plane"></a></td>
                        </tr>
                        <tr>
                            <td>103562</td>
                            <td>QMS/09-21/NO/007</td>
                            <td>Bongkar Pasang Aluminium</td>
                            <td>Workshop</td>
                            <td><span class="badge bg-danger">Belum Dibuat</span></td>
                            <td><a href="add-evaluasi" class="fas fa-paper-plane"></a></td>
                        </tr>
                        <tr>
                            <td>10456</td>
                            <td>QMS/07-21/EK/018</td>
                            <td>Cat Meja Mesin 3 Unit Rantai A</td>
                            <td>Kalung</td>
                            <td><span class="badge bg-primary">Selesai Dibuat</span></td>
                            <td><a href="#" class="fas fa-paper-plane"></a></td>
                        </tr>
                    </table>
                </div>
            </div>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
