{% extends "layouts/base.html" %}

{% block title %} Job Safety Analysis {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        <!-- {% include 'includes/preloader.html' %} -->

        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <h2 class="mb-4">Job Safety Analysis (JSA)</h3>
                <div class="row mt-4">
                    <div class="col-6 col-xl-6">
                        <div class="mb-4">
                            <label for="exampleInputEmail6">Request Id</label>
                            <input type="number" class="form-control" id="req-id" required>
                        </div>
                    </div>
                </div>
                <button class="btn btn-tertiary" type="button">Cari
                    <span class="ms-1"><span class="fas fa-search"></span></span>
                </button>  
            </div>
        </div>
        <!-- End of Hero -->
        
        <!--End of Title section-->
            <div class="container">
                <div class="row justify-content-center mt-4">
                    <table class="table table-hover">
                        <tr class="bg-primary text-white">
                            <th>Request Id</th>
                            <th>Tanggal</th>
                            <th>Nama Project</th>
                            <th>Departemen</th>
                            <th>Tipe Pekerjaan</th>
                            <th>Status JSA</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            <td>102735</td>
                            <td>21/09/2021</td>
                            <td>Bongkar Pasang Aluminium</td>
                            <td>Workshop</td>
                            <td>Ketinggian</td>
                            <td><span class="badge bg-primary">Selesai Dibuat</span></td>
                            <td><a href="#" class="fas fa-paper-plane"></a></td>
                        </tr>
                        <tr>
                            <td>103562</td>
                            <td></td>
                            <td>Bongkar Pasang Sekat dan Buat Rak Dinding</td>
                            <td>Kalung</td>
                            <td>Ketinggian, Listrik (Arus Besar)</td>
                            <td><span class="badge bg-danger">Belum Dibuat</span></td>
                            <td>
                                <a href="add-jsa" class="fas fa-paper-plane"></a>   
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
